.gallery-section {
    max-width: 1000px;
    margin: 50px auto;
    text-align: center;
    color: #ccc;
}
.gallery-section h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 3em;
    color: var(--line-color);
    margin-bottom: 30px;
    text-shadow: 0 0 10px #000;
}
.carousel-container {
    position: relative;
    max-width: 100%;
    height: 500px;
    background: #000;
    border: 2px solid #333;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(178, 34, 34, 0.2);
}
.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}
.slide.active {
    opacity: 1;
    z-index: 1;
}
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7);
}

.caption {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px 20px;
    border-left: 3px solid var(--line-color);
    font-size: 1.2em;
    font-family: "Titillium Web", sans-serif;
}

/* buttons */
.slider-btn {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    background-color: rgba(0,0,0,0.5);
    border: none;
    transition: 0.3s ease;
    z-index: 2;
    user-select: none;
}

.prev-btn {
    left: 0;
    border-radius: 0 3px 3px 0;
}

.next-btn {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.slider-btn:hover {
    background-color: var(--line-color);
}
@media (max-width: 700px) {
    .carousel-container {
        height: 300px;
    }
}
