
.home-btn {
    text-decoration: none;
    color: #fff;
    background: rgba(178, 34, 34, 0.1);
    padding: 10px 15px;
    border: 1px solid var(--line-color);
    border-radius: 4px;
    font-weight: 600;
    transition: all 0.3s ease;
}
.home-btn:hover {
    color: #fff;
    background: var(--line-color);
    box-shadow: 0 0 15px var(--line-color);
    text-shadow: 0 0 5px #fff;
}
.maul-quote-author {
    font-size: 15px;
    font-style: italic;
    color: rgb(255, 255, 255);
    text-shadow:
        0 0 10px #FF0000,
        0 0 20px #FF4500, 
        0 0 40px #FFD700;
}
    /* side content */
.section-header {
    text-align: start;
    margin-bottom: 10px;
    width: 100%;
    color: #eee;
    font-family: "Bebas Neue", sans-serif;
    font-size: 2.5em;
    text-shadow: 0 0 10px #610101;
    border-style: solid;
    border-width: 0 0 2px 0;

}
.section-header h1{
    text-align: center;
    font-size: 3.5em;
    margin: 0;
    text-shadow: 0 0 10px #ff0000;
}
.master-head-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 100px;
}
.master-head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 1400px;
    margin: 0 auto;
}
.master-head-column-1, .master-head-column-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    max-width: 600px;
}

.side-content-block {
    margin-bottom: 10px;
    max-width: 800px;
    font-size: 1.2em;
    line-height: 1.6;
    color: #ccc;
    padding: 50px 0;
}
.img-caption {
    font-size: 0.7em;
    color: #aaa;
    margin-top: 5px;
}
    /* images */

.side-content-block img {
    max-width: 350px;
    height: auto;
    display: block;
    flex: center;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 0 25px rgba(255,0,0,.4);
    transition: transform .4s ease, box-shadow .4s ease;
}
.side-content-block img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 45px var(--line-color);
}
@keyframes fadeSlide {
    from {
        opacity: 0;
        transform: translateX(-30px) scale(0.97);
    }
    to {
        opacity: 1;
        transform: translateX(0) scale(1);
    }
}

