@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

:root {
    --line-color: #B22222;
}

html, body {
    margin: 0;
    padding: 0;
}
    /* header */
header h1{
    color: rgb(255, 255, 255);
        text-shadow:
        0 0 10px #FF0000,
        0 0 20px #FF4500, 
        0 0 30px #FFD700;
    padding: 10px 0;
    text-align: center;
    border-style: solid;
    border-image: radial-gradient(circle, #17024a, #1f0139, #000000) 1;
    border-width: 0 0 2px 0;
    font-family: "Titillium Web", sans-serif;
    font-weight: 200;
    font-style: normal;
}
.maul-quote-author {
    font-size: 15px;
    font-style: italic;
    color: rgb(255, 255, 255);
    text-shadow:
        0 0 10px #FF0000,
        0 0 20px #FF4500, 
        0 0 40px #FFD700;
}
body, header {
    font-family: "Titillium Web", Arial, sans-serif;
}
    /* main */
   body {
    background: radial-gradient(circle at top, #050505, #000);
}
.master-layout {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
    max-width: 1400px;
}
.master-header-column {
    width: 40%;
    color: #eee;
    position: relative;
    top: 40px;
    align-self: flex-start;
}

    /* TIMELINE */
.timeline-container {
    position: relative;
    gap: 20p;
    padding: 20px;
}
.timeline-labels {
    width: 150px;
    flex-shrink: 1; 
    position: relative;
    padding-top: 10px;
}
.timeline-category {
    position: absolute;
    left: 22px;
    top: 150px;
    
    transform-origin: 0 0; 
    transform: rotate(-90deg) translateY(-50%);
    
    width: auto; 
    white-space: nowrap;
    
    padding: 5px 10px;
    color: white; 
    background-image: radial-gradient(
        ellipse at center, 
        var(--line-category-color) 0%, 
        var(--line-category-color) 50%,
        #050505 100%
    );
    
    background-color: transparent;
    border-radius: 5px;
    font-size: 1.115em;
    z-index: 3;
    margin-right: 0px;

    font-family: "Titillium Web", sans-serif;
    font-weight: 200;
    font-style: normal;
    
    border-bottom: none;
    text-align: left;
}
    /* timeline content */
.timeline-content:hover {
    transform: scale(1.02);
    box-shadow: 0 0 35px var(--line-color);
}

.timeline h2 {
    margin: 0;
    font-size: 1.2em;
    color:rgb(197, 197, 197);
     text-shadow: 0 0 10px #610101;
}

.timeline p {
    margin: 10px 0 0 0;
    color: #9c9c9c;
    line-height: 1.6;
    font-size: 0.9em;
}

.timeline {
    list-style: none;
    padding: 0;
    position: relative;
    width: 100%; 
    flex: 1;
    max-width: 600px;
    margin-top: 70px; 
    box-shadow: 0 0 55px rgba(178,34,34,0.35);
}
.timeline-event {
    position: relative;
    margin-bottom: 10px; 
    padding-left: 60px;
}

.timeline-content {
    
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0,0,0,.8);
    transform-origin: left center;
    animation: fadeSlide 0.8s ease forwards;
}

@media (max-width: 600px) {
    .timeline {
        margin-left: 5vw;
        max-width: 95vw;
    }
}
    /* left lines */

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px; 
    width: 4px;
    z-index: 1; 
    background: linear-gradient(to bottom, #ff3b3b,#146914 ,#260457);
    box-shadow: 0 0 15px rgba(255,0,0,.6);
}

.timeline::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0px; 
    width: 4px;
    z-index: 1;
    background: linear-gradient(to bottom, #ff3b3b,#146914 ,#260457);
    box-shadow: 0 0 15px rgba(255,0,0,.6);
}


    /* coloring and positioning */
.republic-era {
     --line-category-color: #b2222297;
}
.clone-wars-era {
     --line-category-color: #228b2284;
}
.empire-era {
     --line-category-color: #695acd79;
}

.timeline-labels .republic-era {
    top: 500px; 
}
.timeline-labels .clone-wars-era {
    top: 1300px;
}
.timeline-labels .empire-era {
    top: 1900px;
}
    /* images */
.timeline img {
    width: 100%;
    max-width: 300px; 
    height: auto; 
    display: block; 
    margin: 15px 0;
    border-radius: 5px;
    transition: transform .4s ease, box-shadow .4s ease;
    box-shadow: 0 0 25px rgba(255,0,0,.4);
}
.timeline-image:hover {
    transform: scale(1.2);
    box-shadow: 0 0 45px var(--line-color);
}
@keyframes fadeSlide {
    from {
        opacity: 0;
        transform: translateX(-30px) scale(0.97);
    }
    to {
        opacity: 1;
        transform: translateX(0) scale(1);
    }
}
.background-image {
    position: absolute;
    top: 75%;
    left: 80%;
    transform: translate(-50%, -50%);
    opacity: 0.6;
    z-index: -1;
    max-width: 80%;
    height: auto;
}