@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

html, body {
    margin: 0;
    padding: 0;
}

header h1{
    color: grey;
    padding: 10px 0;
    text-align: center;
    border-style: solid;
    border-width: 0 0 2px 0;
    font-family: "Titillium Web", sans-serif;
    font-weight: 200;
    font-style: normal;
}
body, header {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}