@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

:root {
    --line-color: #B22222;
}

html, body {
    margin: 0;
    padding: 0;
}

header h1{
    color: grey;
    padding: 10px 0;
    text-align: center;
    border-style: solid;
    border-width: 0 0 2px 0;
    font-family: "Titillium Web", sans-serif;
    font-weight: 200;
    font-style: normal;
}
body, header {
    font-family: "Titillium Web", Arial, sans-serif;
    background-color: #f4f4f4;
}
   body {
    background: radial-gradient(circle at top, #050505, #000);
}
    /* TIMELINE */
.timeline-container {
    display: flex;
    position: absolute;
    max-width: 800px;
    margin-left: 41px;
}
.timeline-labels {
    width: 150px;
    flex-shrink: 0; 
    position: relative;
    padding-top: 10px;
}

.timeline-content:hover {
    transform: scale(1.02);
    box-shadow: 0 0 35px var(--line-color);
}

.timeline h2 {
    margin: 0;
    font-size: 1.2em;
    color: #333;
}

.timeline p {
    margin: 10px 0 0 0;
    color: #666;
    line-height: 1.6;
    font-size: 0.9em;
}

.timeline {
    list-style: none;
    padding: 0;
    position: relative;
    width: 100%; 
    max-width: 600px; 
    margin-left: 30px;
    box-shadow: 0 0 55px rgba(178,34,34,0.35);
}

@media (max-width: 600px) {
    .timeline {
        margin-left: 5vw;
        max-width: 95vw;
    }
}
    /* left lines */

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px; 
    width: 4px;
    z-index: 1; 
    background: linear-gradient(to bottom, #ff3b3b, #260457);
    box-shadow: 0 0 15px rgba(255,0,0,.6);
}

.timeline::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0px; 
    width: 4px;
    z-index: 1;
    background: linear-gradient(to bottom, #ff3b3b, #260457);
    box-shadow: 0 0 15px rgba(255,0,0,.6);
}

.timeline-event {
    position: relative;
    margin-bottom: 10px; 
    padding-left: 60px;
}

.timeline-category {
    position: absolute;
    left: 10px;
    top: 150px;
    
    transform-origin: 0 0; 
    transform: rotate(-90deg) translateY(-50%);
    
    width: auto; 
    white-space: nowrap;
    
    padding: 5px 10px;
    color: white; 
    background-color: var(--line-category-color, #B22222);
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: 700;
    z-index: 3;
    margin-right: 0px;
    
    border-bottom: none;
    text-align: left;
}
.timeline-content {
    
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0,0,0,.8);
    transform-origin: left center;
    animation: fadeSlide 0.8s ease forwards;
}

.republic-era {
     --line-category-color: #B22222;
}
.clone-wars-era {
     --line-category-color: #228B22;
}
.empire-era {
     --line-category-color: #6A5ACD;
}
.timeline-labels .republic-era {
    top: 500px; /* PRZYKŁAD: Pozycja pionowa od góry sekcji */
}

/* 2. CLONE WARS */
.timeline-labels .clone-wars-era {
    top: 1300px; /* PRZYKŁAD: Pozycja, która znajdzie się na środku sekcji klonów */
}

/* 3. EMPIRE */
.timeline-labels .empire-era {
    top: 1900px; /* PRZYKŁAD */
}
.timeline img {
    width: 100%;
    max-width: 300px; 
    height: auto; 
    display: block; 
    margin: 15px 0;
    border-radius: 5px;
    transition: transform .4s ease, box-shadow .4s ease;
    box-shadow: 0 0 25px rgba(255,0,0,.4);
}
.timeline-image:hover {
    transform: scale(1.2);
    box-shadow: 0 0 45px var(--line-color);
}
.maul-quote-author {
    font-size: 15px;
    font-style: italic;
    color: #555;
}
@keyframes fadeSlide {
    from {
        opacity: 0;
        transform: translateX(-30px) scale(0.97);
    }
    to {
        opacity: 1;
        transform: translateX(0) scale(1);
    }
}